
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    
 
}

#name {
    background-color: teal;
    height: 50px;
    width: 200px;
    margin: 0;
    float:left;
    margin-left: 20px;
}

.links {
    float:right;
    margin-right: 20px;
    margin-top: 15px;
}

#name h1 {
    
    height: 50px;
    text-align: center;
    text-color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

#header {
    height: 50px;
    background-color:white;
    border: 2px solid black;
    
}

#background {
    height: 600px;
    background-color: darkgray;
    width: 100%;
    margin-top: 10px;
}

#aboutme {
    height: 500px;
    width: 75%;
    background-color: red;
    position: relative;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    top: 45px;
  
}

#aboutme h1 {
padding: 10px;
}

#aboutme img {
    height: 250px;
    width: 200px;
    padding: 10px;
    float: left;
}

#p1 {
    float: left;
}

#footer {
    height: 50px;
    background-color: green;
    position: fixed;
    width:100%;
}

#footer h5 {
    text-align: center;
}